<body class="users_page_body">

              <%= render 'partials/profileheader', :user => @user%>


    <%= render 'partials/messageflash'%>


 <% if @user_posts.empty? %>
                  <%= render 'partials/nodata' %>

      <% else %>

      <% @user_posts.each do |user_post| %>
              
                                <%= render 'partials/postwithcomments', :user => @user, :user_post => user_post%>

      <% end %>
      <% end %>

      </body>
