.button-00 {
    position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}

.button-00 a {
    font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
}

.button-00 a:before,
.button-00 a:after {
    position: absolute;
  content: "BUTTON";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

.button-00 a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}

.button-00 a:after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
}

.button-00 a:after {
    transform: translateZ(-25px) rotateX(-90deg);
}