@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

.main_page_body {
  background-color: #ffe53b;
  background-image: linear-gradient(170deg, #c04848 0%, #480048 74%);
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: 15px auto;
  background: #fff;
  box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: auto;
  min-height: 150px;
  transition: all 0.3s;
}

.blog-slider__item {
  display: flex;
  align-items: center;
}

.blog-slider__item_column {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-slider__img {
  flex-shrink: 0;
  height: 200px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 100px;
  transform: translateX(-80px);
  overflow: hidden;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 20px;
  transition: all 0.3s;
}

.blog-slider__content {
  padding-right: 25px;
  width: 100%;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 12px;
}

.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 5px;
  line-height: 1.5em;
}

.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  float: right;
}

.post_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.session_buttons {
  align-self: center;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  max-width: 800px;
}

.session_buttons button {
  margin: 20px;
}

.no_margin {
  margin: 0;
}

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentColor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0, rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0, rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.form_newpost_title {
  max-width: 360px;
  width: 100%;
  margin: 15px 0 30px 0;
}

.form_newpost_title input {
  font-size: 17px;
  padding: 8px;
}

.form_newpost_text {
  width: 100%;
  margin: 20px 0 35px 0;
}

.form_newpost_text textarea {
  width: 100%;
  font-size: 17px;
  padding: 8px;
}

.flashMessage {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
}

.profile_user_counter {
  font-size: 65px;
  color: aliceblue;
}

.profile_right_info {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    min-height: 160px;
  }
}

@media screen and (max-width: 800px) {
  .blog-slider {
    height: auto;
    margin: 80px auto;
    min-height: 160px;
    max-width: 680px;
  }

  .blog-slider__item {
    flex-direction: column;
  }

  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }

  .blog-slider__img {
    transform: translateY(-50%);
  }

  .button-17 {
    margin-top: 15px;
    float: none;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    min-height: 160px;
  }

  .blog-slider__img {
    height: 200px;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
