@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
 * {
	 box-sizing: border-box;
}
 body {
	 background-color: #ffe53b;
	 background-image: linear-gradient(147deg, #ffe53b 0%, #fd3838 74%);
	 min-height: 100vh;
	 font-family: 'Fira Sans', sans-serif;
	 display: flex;
     flex-direction: column;
}

 .blog-slider {
	 width: 95%;
	 position: relative;
	 max-width: 800px;
	 margin: 15px auto;
	 background: #fff;
	 box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
	 padding: 25px;
	 border-radius: 25px;
	 height: 250px;
	 transition: all 0.3s;
}

.blog-slider__item {
    display: flex;
    align-items: center;
}

.blog-slider__img {
    flex-shrink: 0;
    height: 200px;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 100px;
    transform: translateX(-80px);
    overflow: hidden;
}

.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 20px;
    transition: all 0.3s;
}

.blog-slider__content {
    padding-right: 25px;
    width: 100%;
}

.blog-slider__code {
    color: #7b7992;
    margin-bottom: 8px;
    display: block;
    font-weight: 500;
}
.blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 12px;
}
.blog-slider__text {
    color: #4e4a67;
    margin-bottom: 5px;
    line-height: 1.5em;
}
.blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    float: right;
}



@media screen and (max-width: 992px) {
    .blog-slider {
        max-width: 680px;
        height: 250px;
   }
}

@media screen and (max-width: 800px) {
    .blog-slider {
        height: auto;
        margin: 80px auto;
   }

   .blog-slider__item {
    flex-direction: column;
}

.blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
}
.blog-slider__img {
    transform: translateY(-50%);
    
}
.blog-slider__button {
    margin-top: 15px;
    float: none;
}
}

@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
        height: 350px;
   }

   .blog-slider__img {
    height: 200px;
}
}

@media screen and (max-width: 576px) {
    .blog-slider__content {
        padding: 0;
   }

   
}
